body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1061px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:62px;
}
#u19641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:61px;
  font-size:14px;
}
#u19642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:51px;
}
#u19643 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:156px;
  height:50px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u19644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:152px;
  word-wrap:break-word;
}
#u19645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u19646 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u19646_img.mouseDown {
}
#u19646.mouseDown {
}
#u19646_img.selected {
}
#u19646.selected {
}
#u19647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u19648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u19649 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u19649_img.mouseDown {
}
#u19649.mouseDown {
}
#u19649_img.selected {
}
#u19649.selected {
}
#u19650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u19651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u19652 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u19652_img.mouseDown {
}
#u19652.mouseDown {
}
#u19652_img.selected {
}
#u19652.selected {
}
#u19653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u19654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u19655 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u19655_img.mouseDown {
}
#u19655.mouseDown {
}
#u19655_img.selected {
}
#u19655.selected {
}
#u19656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u19657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u19658 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u19658_img.mouseDown {
}
#u19658.mouseDown {
}
#u19658_img.selected {
}
#u19658.selected {
}
#u19659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u19660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u19661 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u19661_img.mouseDown {
}
#u19661.mouseDown {
}
#u19661_img.selected {
}
#u19661.selected {
}
#u19662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u19663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u19664 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u19664_img.mouseDown {
}
#u19664.mouseDown {
}
#u19664_img.selected {
}
#u19664.selected {
}
#u19665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u19666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u19667 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u19667_img.mouseDown {
}
#u19667.mouseDown {
}
#u19667_img.selected {
}
#u19667.selected {
}
#u19668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u19669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19669 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:15px;
  width:30px;
  height:30px;
}
#u19670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19671 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:15px;
  width:30px;
  height:30px;
}
#u19672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u19673 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:22px;
  width:60px;
  height:16px;
  font-size:14px;
}
#u19674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u19675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:836px;
}
#u19675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:175px;
  height:835px;
  font-size:14px;
}
#u19676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:836px;
}
#u19677 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:65px;
  width:825px;
  height:835px;
  font-size:14px;
}
#u19678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19679 {
  position:absolute;
  left:750px;
  top:65px;
  visibility:hidden;
}
#u19679_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:251px;
  height:836px;
  background-image:none;
}
#u19679_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:836px;
}
#u19680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:835px;
  font-size:14px;
}
#u19681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u19683 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u19683_img.mouseDown {
}
#u19683.mouseDown {
}
#u19683_img.selected {
}
#u19683.selected {
}
#u19684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u19686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:836px;
}
#u19686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:175px;
  height:835px;
  font-size:14px;
}
#u19687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19692 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:130px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19696 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:170px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19700 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:210px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19704 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:250px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19708 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:290px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19712 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:330px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19716 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:370px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19720 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:410px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19724 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:450px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19728 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:490px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19732 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:530px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19736 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:90px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u19738 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:85px;
  width:30px;
  height:30px;
}
#u19739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u19740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u19740 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:285px;
  width:30px;
  height:30px;
}
#u19741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u19742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u19742 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:405px;
  width:30px;
  height:30px;
}
#u19743 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u19744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19746 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:570px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u19748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u19749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u19750 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:610px;
  width:136px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u19752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u19752 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:525px;
  width:30px;
  height:30px;
}
#u19753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
